<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav th:fragment="navbar">
      <ul>
        <li><a href="" class="navbar-brand">Page2Screen</a></li>
        <div class="navbar-main">
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/add-new}">Add a New Title</a></li>
          <li><a th:href="@{/books}">Books</a></li>
          <li><a th:href="@{/movies}">Movies</a></li>
          <!-- admin should be last -->
          <li th:if="${@environment.acceptsProfiles('local')}">
            <a th:href="@{/admin}" class="navbar-admin">Admin</a>
          </li>
        </div>
        <li style="float: right" th:unless="${session.username != null}">
          <a th:href="@{/login}">Login/Sign up</a>
        </li>

        <li style="float: right" th:if="${session.username != null}">
          <a th:href="@{/logout}">Logout</a>
        </li>

        <li style="float: right" th:if="${session.username != null}">
          <a th:href="@{/profile}"
            ><img
              th:src="@{/images/profile_icon.png}"
              style="
                width: 20px;
                height: 20px;
                vertical-align: middle;
                margin-right: 5px;
              "
            />Profile</a
          >
        </li>
      </ul>
    </nav>
  </body>
</html>
