<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title>Edit Title</title>
  </head>
  <body>
    <!--Navigation Bar-->
    <div th:replace="fragments/nav :: navbar"></div>
    <!--Main Content-->
    <main>
      <h2>Edit Title</h2>
      <div class="add-new-container">
        <!-- no media selector since the type will be passed in -->
        <!-- 
        TODO: This should be fetching the passed in title 
        and using it to populate the different values for what is being edited.
        The placeholders should have their regular placeholder text and have the `value`
        set to the title's existing value.
        -->

        <!-- Book form -->
        <form id="book-form" class="media-form">
          <fieldset>
            <legend>Edit book</legend>
            <div class="form-row">
              <label for="book-title">Title:</label>
              <input
                type="text"
                id="book-title"
                name="title"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-row">
              <label for="book-author">Author:</label>
              <input
                type="text"
                id="book-author"
                name="author"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-row">
              <label for="book-year">Publication Year:</label>
              <input
                type="text"
                id="book-year"
                name="year"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-row">
              <label for="book-isbn10"
                >ISBN10: <span class="optional">(optional)</span></label
              >
              <input
                type="text"
                id="book-isbn10"
                name="isbn10"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-row">
              <label for="book-isbn13"
                >ISBN13: <span class="optional">(optional)</span></label
              >
              <input
                type="text"
                id="book-isbn13"
                name="isbn13"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-actions">
              <button type="button" class="btn">Cancel</button>
              <button type="submit" class="btn btn-primary">Update Book</button>
            </div>
          </fieldset>
        </form>

        <!-- Movie form -->
        <form id="movie-form" class="media-form">
          <fieldset>
            <legend>Edit movie</legend>
            <div class="form-row">
              <label for="movie-title">Title:</label>
              <input
                type="text"
                id="movie-title"
                name="title"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-row">
              <label for="movie-director">Director:</label>
              <input
                type="text"
                id="movie-director"
                name="director"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-row">
              <label for="movie-year">Release Year:</label>
              <input
                type="text"
                id="movie-year"
                name="year"
                placeholder="TODO: REPLACE WITH EXISTING VALUE"
              />
              <span class="error-message" aria-live="polite"></span>
            </div>

            <div class="form-actions">
              <button type="button" class="btn">Cancel</button>
              <button type="submit" class="btn btn-primary">Update Movie</button>
            </div>
          </fieldset>
        </form>
      </div>
    </main>
    <script th:src="@{/js/review-validation.js}"></script>
  </body>
</html>