<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title>Home Page</title>
  </head>
  <body>
    <!--Navigation Bar-->
    <div th:replace="fragments/nav :: navbar"></div>
    <!--Main Content-->
    <main>
      <h2>Home</h2>
      <h1 th:if="${session.username != null}">
        Welcome, <span th:text="${#strings.capitalize(session.username)}"></span> to ReviewHub!
      </h1>
      <h1 th:unless="${session.username != null}">Welcome to ReviewHub!</h1>
      <div class="reviewstitle">
        <h2>Recent Reviews</h2>
      </div>
      <!--Review Cards-->
      <div
        class="reviews-container"
        th:with="reviews=${@reviewService.getAllWorks()}"
      >
        <div th:if="${#lists.isEmpty(reviews)}" class="no-reviews">
          <p>No reviews yet.</p>
        </div>
        <div th:each="review : ${reviews}">
          <div
            th:replace="fragments/review-card :: review-card(review=${review})"
          ></div>
        </div>
      </div>
    </main>
  </body>
</html>
