<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title>Profile Page</title>
  </head>
  <body>
    <!--Navigation Bar-->
    <div th:replace="fragments/nav :: navbar"></div>

    <!--Main Content-->
    <main>
      <h2>Profile</h2>
      <!--Current User Display-->
      <div class="profile-header">
        <img
          th:src="@{/images/profile_icon_dark.png}"
          alt="Profile Icon"
          class="profile-icon"
        />
        <h2 class="profile-username" th:text="${session.username}"></h2>
      </div>
      <div class="reviewstitle">
        <h2>User's Most Recent Reviews</h2>
      </div>
      <!--Review Cards-->
      <div class="reviews-container">
        <div class="review-card">
          <img class="review-image" th:src="@{/images/movie_icon.png}" />
          <div class="review-image-placeholder"></div>
          <div class="review-content">
            <h3>Movie Title</h3>
            <div class="review-stars">
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisi malesuada lacinia integer nunc
              posuere.
            </p>
          </div>
        </div>
        <div class="review-card">
          <img class="review-image" th:src="@{/images/book_icon.png}" />
          <div class="review-image-placeholder"></div>
          <div class="review-content">
            <h3>Book Title</h3>
            <div class="review-stars">
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
              <img class="star" th:src="@{/images/star.png}" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisi malesuada lacinia integer nunc
              posuere.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
