<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title>Title Details</title>
  </head>
  <body>
    <!--Navigation Bar-->
    <div th:replace="fragments/nav :: navbar"></div>

    <!--Main Content-->
    <main>
      <h2>Title Details</h2>
      <div class="details-container" th:with="work=${work}">
        <img
          class="poster"
          th:src="${work != null and work.mediaType.name() == 'MOVIE'} ? @{/images/movie_icon.png} : @{/images/book_icon.png}"
          alt="poster"
        />
        <div class="info">
          <div>
            <div
              class="title-text"
              th:text="${work != null ? work.title : 'Title'}"
            >
              Title
            </div>
            <div
              class="year-text"
              th:text="${work != null ? '(' + work.releaseYear + ')' : '(Year)'}"
            >
              (Year)
            </div>
          </div>
          <br />

          <!-- commented out since this info isn't useful -->
          <!-- <div th:text="${work != null ? work.mediaType : 'Media'}">
            Author / Director
          </div>
          <div th:text="${work != null ? 'Created: ' + work.createdAt : ''}">
            ExternalIds go here
          </div> -->
        </div>
        <div class="community-reviews-container">
          <h4>Community Reviews</h4>
          <div
            th:replace="fragments/title-detail-fragments :: review-preview"
          ></div>
          <div
            th:replace="fragments/title-detail-fragments :: review-preview"
          ></div>
          <div
            th:replace="fragments/title-detail-fragments :: review-preview"
          ></div>
        </div>
      </div>
      <div
        class="your-review-container"
        th:attr="data-work-id=${work.id}, data-current-user-id=${currentUserId}, data-current-user-displayname=${currentUserDisplayName}"
      >
        <h3>Your Review</h3>
        <hr />
        <div th:replace="fragments/title-detail-fragments :: add-review"></div>
        <div th:replace="fragments/title-detail-fragments :: view-review"></div>
        <div th:replace="fragments/title-detail-fragments :: edit-review"></div>
      </div>
    </main>
    <script th:src="@{/js/title-detail.js}"></script>
  </body>
</html>
